<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h2>Debug</h2>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Events</h3>
                        <ul>
                            {{#each Speech.SpeechRecognition.events}}
                                <li>
                                    <b>{{name}}</b> - {{count}}
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Settings</h3>
                        <ul>
                            <li><b>Keyword: </b> {{Speech.SpeechCommander.keyWord}}</li>
                            <li><b>Threshold: </b> {{Speech.SpeechCommander.threshold}}ms</li>
                            <li><b>Class for labels: </b> {{Speech.SpeechCommander.labelClass}}</li>
                            <li><b>Expected language: </b> {{Speech.SpeechRecognition.lang}}</li>
                        </ul>

                    </div>
                    <div class="col-md-6">
                        <h3>Last Result</h3>
                        <ul>
                            {{#each Speech.SpeechRecognition.current}}
                                <li>
                                    <b>{{transcript}}</b> - {{confidence}}
                                </li>
                            {{/each}}
                        </ul>
                        <h3>Last executed Command</h3>
                        <b>{{Speech.SpeechCommander.lastCommand}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Result History</h3>
                        <ul>
                            {{#each Speech.SpeechRecognition.content}}
                                <li>
                                    <ul>
                                        {{#each this}}
                                            <li>
                                                <b>{{transcript}}</b> - {{confidence}}
                                            </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>